<div class="home__heading">
  <h3 class="home__heading__text">Microsoft Teams</h3>
  <!-- <img src="/assets/teams-logo.png" class="home__heading__img" /> -->
</div>

<!-- Side section start -->
<div class="side-header">
  <div class="image-home">
    <a href="/">
      <img src="/assets/teams-logo.png" class="home__heading__img" />
    </a>
  </div>

  <!-- New section created to use flex on all the elemnt in side -->
  <div class="side-section">
    <div class="profile-home border-style">
      <a href="/profile">
        <div class="profile-pic-user">
          <img src="<%=picture%>" />
        </div>
        <i
          id="user-account-header"
          class="change-fill material-icons-outlined user-account-header"
          >account_circle</i
        >
        <div class="icon-text">Profile</div>
      </a>
    </div>

    <div class="home-meet border-style">
      <a href="/">
        <i class="change-fill material-icons-outlined"> meeting_room </i>
        <div class="icon-text">Meet</div>
      </a>
    </div>

    <div class="chat-home border-style">
      <a href="/chat">
        <i class="change-fill material-icons-outlined"> chat </i>
        <div class="icon-text">
          Chat
          <!-- changes done -->
        </div>
      </a>
    </div>

    <div class="calendar-home border-style">
      <a href="/calendar">
        <span class="change-fill material-icons-outlined"> event </span>
        <div class="icon-text">Calendar</div>
      </a>
    </div>
  </div>
  <!-- New section side end -->
</div>
<!-- Side section end -->

<% const authenticated = email_verified %>
<script>
  let authenticating = "<%= authenticated %>";
  if (authenticating) {
    document.getElementById("user-account-header").style.display = "none";
  } else {
    document.getElementById("user-account-header").style.display = "block";
  }
</script>
