:root {
  --main-padding: 8px;
}

body {
  background-color: #6264a7;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Grid created */
.parent-container {
  display: grid;
  grid-template-columns: 5.5% 1fr;
  grid-template-rows: 10% 1fr 10%;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  grid-template-areas:
    "side header"
    "side main"
    "side foot";
  padding: var(--main-padding);
  height: calc(100vh - var(--main-padding));
}

.home__heading {
  grid-area: header;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  justify-content: right;
}

.welcome {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 3px;
  padding: 5px;
  border-bottom: 1px solid black;
}

/* Side section styling */
.side-header {
  grid-area: side;
  background-color: #34354b;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.side-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100% - var(--main-padding) - 70px);
}

.side-section a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.side-section a:hover {
  text-decoration: none !important;
  outline: none;
}

.material-icons-outlined {
  font-size: 30px;
}

.icon-text {
  text-align: center;
}

.border-style {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.border-style:hover {
  border-left: 4px solid #a2a4df;
  background-color: #6264a7;
  margin-left: -4px;
}

/* User image section customize */
.profile-pic-user {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  border: 3px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.profile-pic-user img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* Side section styling end */

.home {
  grid-area: main;
  background-color: #f3f2f1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* width: fit-content; */
}

.footer {
  grid-area: foot;
  text-align: center;
  padding: 10px;
  background-color: #f3f2f1;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  border-radius: 5px;
  margin-top: 5px;
}

.home__heading__text {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 500;
  box-shadow: rgb(187, 188, 212) 0px 3px 8px;
  padding: 10px;
  background-color: #6264a7;
  border-radius: 16px;
  border-bottom-right-radius: 0;
  color: #fff;
}

.home__heading__img {
  height: 70px;
  cursor: pointer;
}

.image-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__conatiner__home {
  background-color: #f3f2f1;
  padding: 5px;
  border-radius: 5px;
  margin: 5px !important;
}

.join__meeting__container {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  height: 90%;
  margin: 10px;
  display: grid;
  place-items: center;
}

.join__meeting__container:hover {
  transition: box-shadow 0.2s ease 0s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.join__meeing {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meeting-form {
  text-align: center;
}

.input__label {
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  padding: 4px;
}

.input {
  text-align: center;
  width: 70%;
  outline: none;
  border: 2px solid rgb(216, 190, 240);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  margin: 10px;
  padding: 5px;
  transition: all 0.4s ease-in-out;
}

.input:focus {
  box-shadow: rgba(154, 48, 253, 0.35) 0px 5px 15px;
}

.join__meeing button {
  width: 10vw;
}

.create__meeting {
  display: flex;
  justify-content: center;
  width: 100%;
}

.create__meeting button {
  width: 18vw;
}

@media only screen and (max-width: 600px) {
  .by {
    font-size: smaller;
  }

  .home__heading h3 {
    margin: 10px;
    font-size: larger !important;
  }

  .home__heading img {
    height: 40px;
  }

  .join__meeing button {
    width: 250px;
  }

  .create__meeting button {
    width: 300px;
  }
}